.stwoye {
    width: 100%; /* Set the container to take full width */
    max-width: 800px; /* Set a max width if you want to limit the size */
    padding: 3rem 1rem; /* Adjust padding as needed */
    border-radius: 50px;
    margin-top: -3rem;
    display: flex;
    flex-direction: column; /* Use column for vertical stacking */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

.stwoye iframe {
    width: 640px; /* Make the iframe take full width of the container */
    height: 360px; /* Set a specific height */
    border-radius: 20px; /* Optional: Add border-radius if needed */
}


@media screen and (max-width: 1256px) {
    .stwoye iframe {
        width: 427px; /* Make the iframe take full width of the container */
        height: 240px; /* Set a specific height */
        border-radius: 20px; /* Optional: Add border-radius if needed */
    }
    .stwoye {
        width: 100%; /* Set the container to take full width */
        max-width: 800px; /* Set a max width if you want to limit the size */
        padding: 3rem 1rem; /* Adjust padding as needed */
        border-radius: 50px;
        margin-top: 1rem;
        display: flex;
        flex-direction: column; /* Use column for vertical stacking */
        justify-content: center; /* Center the content horizontally */
        align-items: center; /* Center the content vertically */
    }
}

@media screen and (max-width: 864) {
    .stwoye iframe {
        width: 427px; /* Make the iframe take full width of the container */
        height: 240px; /* Set a specific height */
        border-radius: 20px; /* Optional: Add border-radius if needed */
    }
    .stwoye {
        width: 100%; /* Set the container to take full width */
        max-width: 800px; /* Set a max width if you want to limit the size */
        padding: 3rem 1rem; /* Adjust padding as needed */
        border-radius: 50px;
        margin-top: 1rem;
        display: flex;
        flex-direction: column; /* Use column for vertical stacking */
        justify-content: center; /* Center the content horizontally */
        align-items: center; /* Center the content vertically */
    }
}

@media screen and (max-width: 484px) {
    .stwoye iframe {
        width: 256px; /* Make the iframe take full width of the container */
        height: 144px; /* Set a specific height */
        border-radius: 20px; /* Optional: Add border-radius if needed */
    }
    .stwoye {
        width: 100%; /* Set the container to take full width */
        max-width: 800px; /* Set a max width if you want to limit the size */
        padding: 3rem 1rem; /* Adjust padding as needed */
        border-radius: 50px;
        margin-top: 1rem;
        display: flex;
        flex-direction: column; /* Use column for vertical stacking */
        justify-content: center; /* Center the content horizontally */
        align-items: center; /* Center the content vertically */
    }
}



//Section5



.sfiveye {
    width: 100%; /* Set the container to take full width */
    max-width: 800px; /* Set a max width if you want to limit the size */
    padding: 0.75rem 0rem; /* Adjust padding as needed */
    padding-left: 1rem;
    border-radius: 50px;
    display: flex;
    flex-direction: column; /* Use column for vertical stacking */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

.sfiveye iframe {
    width: 640px; /* Make the iframe take full width of the container */
    height: 360px; /* Set a specific height */
    border-radius: 20px; /* Optional: Add border-radius if needed */
}

.sfiveyemobile {
    display: none;
}

@media screen and (max-width: 1243px) {
    .sfiveye iframe {
        width: 533px; /* Make the iframe take full width of the container */
        height: 300px; /* Set a specific height */
        border-radius: 20px; /* Optional: Add border-radius if needed */
    }
}

@media screen and (max-width: 1111px) {
    .sfiveye iframe {
        width: 427px; /* Make the iframe take full width of the container */
        height: 244px; /* Set a specific height */
        border-radius: 20px; /* Optional: Add border-radius if needed */
    }
}

@media screen and (max-width: 827px) {
    .sfiveye iframe {
        width: 348px; /* Make the iframe take full width of the container */
        height: 196px; /* Set a specific height */
        border-radius: 20px; /* Optional: Add border-radius if needed */
    }
}

@media screen and (max-width: 764px) {
    .sfiveyemobile {
        display: flex;
    }
    .sfiveyemobile iframe {
        border-radius: 20px;    
        width: 498px;
        height: 280px;
    }
    .sfiveye {
        display: none;
    }
}

@media screen and (max-width: 605px) {
    .sfiveyemobile {
        display: flex;
    }
    .sfiveyemobile iframe {
        border-radius: 20px;    
        width: 356px;
        height: 200px;
    }
    .sfiveye {
        display: none;
    }
}

@media screen and (max-width: 475px) {
    .sfiveyemobile {
        display: flex;
    }
    .sfiveyemobile iframe {
        border-radius: 20px;    
        width: 256px;
        height: 144px;
    }
    .sfiveye {
        display: none;
    }
}

@media screen and (max-width: 364px) {
    .sfiveyemobile {
        display: flex;
    }
    .sfiveyemobile iframe {
        border-radius: 20px;    
        width: 204px;
        height: 115px;
    }
    .sfiveye {
        display: none;
    }
}