.sectionFive {
    background-color: hsl(from hsl(263, 70%, 50%) h s l);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 7.5rem;
    width: calc(100% - 30px);
    margin: 0 auto;
    max-width: 1380px;
}

// .container {
    
// }